{% extends 'front/layout.html' %}
{% load static %}
{% block title%}Создание хоста{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/regist-form.css' %}"/>
<script src="{% static 'front/js/create.js' %}"></script>
<div class="untitled-page root">
    <div class="backfeater" style="color:#cce5ff ">
        <div class="modal">
            <form method="post" class="check-form" action="{{ request.path}}">
                <div class="theader">Регистрация</div>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="header">
            </form>
            <button type="submit" class="submit1  modal-back ">Войти</button>

        </div>

    </div>

</div>

{% endblock %}