{% extends 'main/layout.html' %}
{& load hosting_tags &}
{% block title%}Форма по добавлению хоста{% endblock %}
{% block content %}

<!--<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />-->
<!--<script defer src="https://pyscript.net/latest/pyscript.js"></script>-->

    <div class="features">
        <h1>Форма по добавлению хоста и его свойств </h1>

        <form method="post">

            {% csrf_token %}<br>

            {{ form }}<br>

            <span>{{ error }}</span>
            <a href="{% url 'hosting_home' %}"></a>
            <button class="btn btn-success" type="submit">Добавить хост</button>
        </form>
    </div>
<script>
            const modal_container = document.getElementById('modal-container');
            const close = document.getElementById('close');

            document.querySelectorAll('.plashki .alert').forEach(el => {
                el.addEventListener('click', function () {
                    const ip = this.querySelector('h3').textContent;
                    document.querySelector('.header1').textContent = ip;
                    modal_container.classList.add('show'); // Открываем модальное окно при клике на любую плашку
                    document.getElementById('id_ipaddr').value = ip;
                });
            });

            close.addEventListener('click', () => {
                modal_container.classList.remove('show'); // Закрываем модальное окно при нажатии на кнопку "Закрыть"
            });
            const back = document.getElementById('back');

            back.addEventListener('click', () => {
                modal_container.classList.remove('show'); // Закрываем модальное окно при нажатии на кнопку "Назад"
            });
        </script>
{% endblock %}