
{% extends 'main/layout.html' %}
{% block title%}Форма по добавлению статьи{% endblock %}
{% block content %}
<link rel="stylesheet" href= "main/css/fire.scss" />
<link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>

    <div class="fire">
        <div class="fire-left">
            <div class="main-fire"></div>
            <div class="particle-fire"></div>
        </div>

        <div class="fire-center">
            <div class="main-fire"></div>
            <div class="particle-fire"></div>
        </div>
        <div class="fire-right">
            <div class="main-fire"></div>
            <div class="particle-fire"></div>
        </div>
        <div class="fire-bottom">
            <div class="main-fire"></div>
        </div>
    </div>
{% endblock %}