{% extends 'front/layout.html' %}
{% load static %}
{% block title%}Cмена пароля{% endblock %}
{% block sidebar  %}
{% endblock %}
{% block user  %}
{% endblock %}
{% block content %}
<style>
    /*    .modal {*/
    /*    height: fit-content;*/
    /*    min-height: 345px;*/
    /*    width: 498px;*/
    /*    display: grid;*/
    /*    color: #fffaf0;*/
    /*    !* backdrop-filter: blur(48px); *!*/
    /*    !* background: var(--gradient-dark-modal); *!*/
    /*    !* background: rgba(43, 43, 43, 0.42); *!*/
    /*    background: rgb(1 47 161 / 17%);*/
    /*    border-radius: 70px 70px 70px 70px;*/
    /*    !* max-width: 100%; *!*/
    /*    text-align: center;*/
    /*    position: fixed;*/
    /*    top: 45%;*/
    /*    left: 50%;*/
    /*    transform: translate(-55%, -40%);*/
    /*    !* justify-items: center; *!*/
    /*    !* align-content: space-between; *!*/
    /*    !* align-items: start; *!*/
    /*    grid-auto-rows: 15% 40%;*/
    /*    justify-content: space-evenly;*/
    /*}*/
    /*.form-control {*/
    /*    border-radius: 24px;*/
    /*    color: #7fb5fe;*/
    /*}*/
    .ul a li {
        pointer-events: none;
        color: #fe7fe5;
    }

    .ul a li:hover {
        pointer-events: none;
        color: #fe7fe5;
        transform: none;
    }

    .ul a li:active {
        pointer-events: none;
        color: #fe7fe5;
        transform: none;
    }

    .form-ip {
        margin-top: 10px;
        white-space: nowrap;
    }

    .untitled-page .backheader {
        background-color: rgba(29, 28, 34, 0);
    }

    .ul {
        margin-top: 10px;
    }

    .modal {
        height: fit-content;
        width: fit-content;
        padding: 1.0% 4.0% 4.0% 4.0%;
        min-width: 775px;
        min-height: 457px;

    }

    .error-list {
        top: 10px
    }

    .errorlist {
        top: 10px;
        position: fixed;
        color: #fd0072;
        font: 100 16px Raleway, Helvetica, Arial, serif;
        align-content: center;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/regist-form.css' %}"/>

<script src="{% static 'front/js/create.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/style1.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/main.css' %}">

<div class="untitled-page root">

        <ul class="lightrope">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
     {% block search %}
    {% endblock %}
    <div class="backfeater" style="color:#cce5ff ">

        <div class="modal">
            <div class="theader">Cмена пароля для {{ username }}</div>
            <form method="post" class="form-ip" action="{{ request.path}}">

                {% csrf_token %}
                {{ form.as_p }}


                <button type="submit" class="submit1  modal-back ">Cменить</button>


                {% if messages %}
                {% for message in messages %}
                <div class="mes-c{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% if form.errors %}
                <div class="error-list">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="errorlist">{{ error }}</div>
                    {% endfor %}
                    {% endfor %}
                </div>

                {% endif %}
            </form>


        </div>

    </div>

</div>

{% endblock %}
