{% extends 'front/layout.html' %}
{% load static %}
{% block title%}Вход{% endblock %}
{% block sidebar  %}
{% endblock %}
{% block user  %}
{% endblock %}
{% block content %}
 {% block search %}
    {% endblock %}
<style>
    /*.form-control {*/
    /*    border-radius: 24px;*/
    /*    color: #7fb5fe;*/
    /*}*/
    .ul a li {
        pointer-events: none;
        color: #fe7fe5;
    }

    .ul a li:hover {
        pointer-events: none;
        color: #fe7fe5;
        transform: none;
    }

    .ul a li:active {
        pointer-events: none;
        color: #fe7fe5;
        transform: none;
    }


    .untitled-page .backheader {
        background-color: rgba(29, 28, 34, 0);
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/regist-form.css' %}"/>

<script src="{% static 'front/js/create.js' %}"></script>
<!--<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/style.css' %}"/>-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/style.css' %}"/>-->
<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/style1.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'front/css/registration/main.css' %}">

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div class="untitled-page root">

    <ul class="lightrope">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="backfeater" style="color:#cce5ff ">

        <div class="modal">
            <div class="theader">ВХОД</div>
            <form method="post" class="form-ip" action="{{ request.path}}">

                {% csrf_token %}
                {{ form.as_p }}


                <button type="submit" class="submit1  modal-back ">Войти</button>


                {% if messages %}
                {% for message in messages %}
                <div class="mes-c">{% if message.tags %} class='{{ message.tags }}' {% endif %}> {{ message }}}
                </div>
                {% endfor %}
                {% endif %}
                <!--                </div>-->

            </form>


        </div>

    </div>

</div>

{% endblock %}