.untitled-page.root {
    background: radial-gradient(circle, #131667 0%, #1e1d1d 100%);
}

.backfeater {
    /*background: radial-gradient(circle, #131667 0%, #1e1d1d 100%);*/
}

.theader {
    position: relative;
    /* left: -18px; */
    top: 20px;
    margin-bottom: 47px;
    font: 400 18px/1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
}
.form-control {
    background: none;
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    bottom: 951px;
    left: 45px;
    width: 360px;
    height: 47px;
    padding: 14px 20px 14px 21px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    border-radius: 24px;
    color: #fff;
    background: #09204e2b;
    outline: none;
}

.errorlist  {
    position: fixed;
    /*white-space: nowrap;*/
    color: #fd0072;
    /*font-size: 12px;*/
    font: 100 16px Raleway, Helvetica, Arial, serif;
    align-content: center;
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    bottom: 20%;
}

/*.error-message1 {*/
/*    position: fixed;*/
/*    white-space: nowrap;*/
/*    color: #00ff15;*/
/*    !*font-size: 12px;*!*/
/*    font: 100 16px Raleway, Helvetica, Arial, serif;*/
/*    align-content: center;*/
/*    left: 50%;*/
/*    transform: translate(-50%, 0);*/
/*    top: 54%;*/
/*    display: block;*/
/*}*/

/* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð²ÑÐµÐ³Ð¾ Ð±Ð»Ð¾ÐºÐ° Ð¾ÑˆÐ¸Ð±ÐºÐ¸ */
/*.error {*/
/*    color: red; !* Ð¦Ð²ÐµÑ‚ Ñ‚ÐµÐºÑÑ‚Ð° Ð¾ÑˆÐ¸Ð±ÐºÐ¸ *!*/
/*    font-size: 12px; !* Ð Ð°Ð·Ð¼ÐµÑ€ Ñ‚ÐµÐºÑÑ‚Ð° Ð¾ÑˆÐ¸Ð±ÐºÐ¸ *!*/
/*    margin-top: 5px; !* ÐžÑ‚ÑÑ‚ÑƒÐ¿ ÑÐ²ÐµÑ€Ñ…Ñƒ *!*/
/*}*/

/*!* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð²ÑÐµÑ… Ð¿Ð¾Ð»ÐµÐ¹ Ñ„Ð¾Ñ€Ð¼Ñ‹ Ñ Ð¾ÑˆÐ¸Ð±ÐºÐ°Ð¼Ð¸ *!*/
/*input.error, select.error, textarea.error {*/
/*    border: 2px solid red; !* ÐšÑ€Ð°ÑÐ½Ð°Ñ Ñ€Ð°Ð¼ÐºÐ° Ð²Ð¾ÐºÑ€ÑƒÐ³ Ð¿Ð¾Ð»Ñ *!*/
/*    background-color: #ffe6e6; !* Ð¡Ð²ÐµÑ‚Ð»Ð¾-ÐºÑ€Ð°ÑÐ½Ñ‹Ð¹ Ñ„Ð¾Ð½ Ð´Ð»Ñ Ð¿Ð¾Ð»Ñ *!*/
/*}*/

/*!* Ð¡Ñ‚Ð¸Ð»Ð¸ Ð´Ð»Ñ Ð¾Ð±Ñ‰ÐµÐ³Ð¾ Ð±Ð»Ð¾ÐºÐ° Ð¾ÑˆÐ¸Ð±Ð¾Ðº Ñ„Ð¾Ñ€Ð¼Ñ‹ (non_field_errors) *!*/
/*.non-field-errors {*/
/*    background-color: #ffebeb; !* Ð¡Ð²ÐµÑ‚Ð»Ð¾-ÐºÑ€Ð°ÑÐ½Ñ‹Ð¹ Ñ„Ð¾Ð½ *!*/
/*    border: 1px solid red; !* ÐšÑ€Ð°ÑÐ½Ð°Ñ Ñ€Ð°Ð¼ÐºÐ° *!*/
/*    color: red; !* Ð¦Ð²ÐµÑ‚ Ñ‚ÐµÐºÑÑ‚Ð° *!*/
/*    padding: 10px; !* ÐžÑ‚ÑÑ‚ÑƒÐ¿Ñ‹ Ð²Ð½ÑƒÑ‚Ñ€Ð¸ Ð±Ð»Ð¾ÐºÐ° *!*/
/*    margin-bottom: 15px; !* ÐžÑ‚ÑÑ‚ÑƒÐ¿ ÑÐ½Ð¸Ð·Ñƒ *!*/
/*}*/

/*ÃƒÂÃ‚ÂºÃƒÂÃ‚Â°Ãƒâ€˜Ã‚ÂÃƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚Â¾ÃƒÂÃ‚Â¼ Ãƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚ÂµÃƒÂÃ‚ÂºÃƒÂÃ‚Â±ÃƒÂÃ‚Â¾ÃƒÂÃ‚ÂºÃƒâ€˜Ã‚Â*/
input[type="checkbox"] {
    top: 3px;
    left: 5px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    /*border: 2px solid #000;*/
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

input[type="checkbox"]:checked {
    /*background: linear-gradient(to right, #f6d365 0%, #fda085 50%, #ff6700 100%);*/
    /*background: radial-gradient(circle, #50bb76 0%, #ffffff 100%);*/
    background: radial-gradient(circle, #0062cc 0%, #ffffff 100%);
    border-color: rgba(255, 255, 255, 0);
}



.submit1:hover {
    box-shadow: 1px 14px 10px -7px #edeeef45;
    outline: none
}

.submit1:hover::after {
    transform: rotate(360deg);
    outline: none
}

.form-control {
    background: none;
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    bottom: 951px;
    left: 45px;
    width: 360px;
    height: 47px;
    padding: 14px 20px 14px 21px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    border-radius: 24px;
    color: #fff;
    background: #09204e2b;
    outline: none;
    align-items: center;
    display: grid;
    justify-content: space-between;
    margin-bottom: 27px;
}


.form-ip {
    margin-top: 10px;
    display: grid;
    flex-direction: column;
    justify-items: center;
}

.form-control[readonly] {
    background-color: rgba(123, 69, 154, 0);
    opacity: 1;
}

.form-ip input {
    background: white;
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    bottom: 951px;
    left: 45px;
    width: 280px;
    height: 47px;
    padding: 14px 20px 14px 21px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    border-radius: 24px;
    color: #000649;
    /*background: #09204e2b;*/
    outline: none;
    align-items: center;
    display: grid;
    justify-content: space-between;
    margin-bottom: 27px;
    /*background-color: transparent;*/
}


.form-ip label {
    /* margin-right: 286px; */
    margin-bottom: 10px;
    white-space: nowrap;
    font-size: 16px;
    color: #cce5ff;
}



.text1 {
    position: relative;
    top: 73px;
    /* left: 45%; */
    font: 400 16px/1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
}

.text2 {
    width: 80%;
    position: relative;
    top: 278px;
    font: 400 16px / 1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
    left: 43px;
    /* margin-top: 10px; */
    margin-bottom: 1em;
    text-indent: 1em;
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
}


.field-label {
    display: flex;
    align-items: center;
}

.grid {
    color: #ffffff;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, minmax(1px, 230px));
    grid-template-rows: repeat(3, minmax(40px, auto));
    justify-items: start;
    /* padding-top: 10px; */
    margin-left: 115px;
    font: 400 16px Roboto, Helvetica, Arial, serif;
}

.add {
    margin-left: 10px;
    margin-top: 10px;
}


.submit {

    left: 315px;
    position: absolute;
    width: 115px;
    height: 30px;
    top: 10px;
    border-radius: 12px 12px 12px 12px;
    background: #1C9BFF;
    color: #fffaf0;
    border-color: #1C9BFF;
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif
}

.footer {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;

}

.modal-back {
    /* margin-right: 110px; */
    opacity: 1;
    width: 115px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    background: rgb(104 116 139);
    color: #fffaf0;
    border-color: rgba(104, 116, 139, 0);
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif
}

.modal-add {
    opacity: 1;
    width: 115px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    /* background: rgb(0, 32, 255); */
    background: rgb(40 89 197);
    color: #fffaf0;
    border-color: rgba(104, 116, 139, 0);
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    position: absolute;
    bottom: 30px;
    right: 60px;
}

.modal-add {
    opacity: 1;
    width: 115px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    /* background: rgb(0, 32, 255); */
    background: rgb(40 89 197);
    color: #fffaf0;
    border-color: rgba(104, 116, 139, 0);
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    position: absolute;
    bottom: 30px;
    right: 60px;
}


.modal-check {
    opacity: 1;
    width: 115px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    position: relative;
    /* background: rgb(0, 32, 255); */
    background: rgb(40 89 197);
    color: #fffaf0;
    border-color: rgba(104, 116, 139, 0);
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    left: -18px;
}


.modal {
    height: 460px;
    width: 498px;
    display: grid;
    color: #fffaf0;
    /*backdrop-filter: blur(48px);*/
    /* background: var(--gradient-dark-modal); */
    /* background: rgba(43, 43, 43, 0.42); */
    background: rgb(1 47 161 / 17%);
    border-radius: 70px 70px 70px 70px;
    /* max-width: 100%; */
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-55%, -40%);
    /* justify-items: center; */
    /* align-content: space-between; */
    /* align-items: start; */
    grid-auto-rows: 15% 40%;
    justify-content: space-evenly;
}

.header {
    margin-top: 45px;
    margin-left: 19px;
    /* margin-bottom: 30px; */
    /* height: 30px; */
    width: 100%;
    /* position: fixed; */
    font: 400 29px Raleway, Helvetica, Arial, serif;
    display: grid;
    align-content: center;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
}

.modal-back {
    position: fixed;
    bottom: 25px;
    /* left: 60px; */
}


/*a {*/
/*    pointer-events: none;*/
/*}*/

/*a button {*/
/*    pointer-events: auto;*/
/*}*/

.submit1:hover {

    box-shadow: 1px 14px 10px -7px #edeeef45;
    outline: none;
    transform: translateZ(2px) scale(1.05);
}

.submit1:hover::after {
    transform: translateZ(2px) scale(1.05);
    outline: none
}

.osver {
    top: 10px;
    right: 10px;
    margin-left: auto;
    bottom: 4px;
    position: absolute;
    font: 400 10px/1.57 Roboto, Helvetica, Arial, serif;
    color: #808080;
}


/* ÃƒÂÃ‚Â·ÃƒÂÃ‚Â°ÃƒÂÃ‚Â³Ãƒâ€˜Ã¢â€šÂ¬Ãƒâ€˜Ã†â€™ÃƒÂÃ‚Â·Ãƒâ€˜Ã¢â‚¬Â¡ÃƒÂÃ‚Â¸ÃƒÂÃ‚Âº*/
.loader {
    position: absolute;
    display: none;
    color: #fff;
    font-size: 5px;
    width: 1em;
    height: 1em;
    top: 22px;
    border-radius: 50%;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
        2em -2em 0 0em, 3em 0 0 -1em,
        2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em,
        2em -2em 0 0, 3em 0 0 0.2em,
        2em 2em 0 0, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.arrow-check {
    position: absolute;
    margin-top: 259px;
    left: 340px;
}

.result-text {
    position: absolute;
    font: 400 16px/1.57 Roboto, Helvetica, Arial, serif;
    color: #ff0c79;
    margin: 10px;
    /*display: block;*/
}

.alert-box {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.check-snmp-text {
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: -64px;
    left: 69%;
    /* transform: translate(-50%, -20%); */
    font: 400 16px/1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
    text-shadow: 2px 2px 8px rgba(11, 11, 96, 0.72), /* ÐžÑÐ½Ð¾Ð²Ð½Ð°Ñ Ñ‚ÐµÐ½ÑŒ */ -2px -2px 8px rgba(250, 250, 250, 0.7);
    white-space: pre-line;
    /* width: 60%; */
}

.check-snmp-text1 {
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: 96px;
    left: 50%;
    transform: translate(-50%, -20%);
    font: 400 16px/1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
    white-space: pre-line;
    width: 60%;
    display: none;
}

.refresh {
    width: 40px;
    height: 40px;
    /*background-color: #002e87;*/
    /*border-radius: 24px;*/
}

.check-snmp-link {
    position: absolute;
    top: 203px;
    margin-left: 83%;
    width: 40px;
    height: 40px;
    display: inline-block;
    align-items: center;
    text-shadow: 2px 2px 5px rgba(241, 5, 68, 0.5);
}

.check-snmp-link:hover img {
    transform: translateY(0); /* ÐŸÐ¾Ð´Ð´ÐµÑ€Ð¶Ð¸Ð²Ð°ÐµÑ‚ Ð¸Ð·Ð½Ð°Ñ‡Ð°Ð»ÑŒÐ½Ð¾Ðµ Ð¿Ð¾Ð»Ð¾Ð¶ÐµÐ½Ð¸Ðµ */
}

.hidden {
    display: none;
}

.choices {
    border-radius: 24px;
    width: 151px;
    height: 47px;
    border: 0.5px solid #fff;
    color: rgb(255, 255, 255);
    background-color: rgb(21 29 76);
    font: 400 14px /1.57 Raleway, Helvetica, Arial, serif;
    /* margin-left: 10px; */
    padding: 14px 21px 14px 21px;
    margin-top: 0px;
}

.choi {
    border-radius: 24px;
    display: flex;
    font: 400 16px Raleway, Helvetica, Arial, serif;
    /*font: 400 16px / 1.57 Roboto, Helvetica, Arial, serif;*/
    color: #cce5ff;
    white-space: nowrap;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 10px;
    flex-direction: column;
}

.ttt {
    top: 35px;
    position: relative;
}

.osver1 {
    color: #85f3ff;
    margin-top: 29px;
    /* margin-right:20px; */
}

.login {
    color: whitesmoke;
    font: 400 16px Raleway, Helvetica, Arial, serif;
}