:root {
    /*ÃÂ¿ÃÂµÃ‘â‚¬ÃÂµÃÂ¼ÃÂµÃÂ½ÃÂ½Ã‘â€¹ÃÂµ Ã‘â€šÃÂµÃÂ¼ÃÂ½ÃÂ¾ÃÂ¹ Ã‘â€šÃÂµÃÂ¼Ã‘â€¹*/
    --gradient-dark-modal: linear-gradient(to left, #696F77, #0057ff 100%);
    /*ÃÂ¿ÃÂµÃ‘â‚¬ÃÂµÃÂ¼ÃÂµÃÂ½ÃÂ½Ã‘â€¹ÃÂµ Ã‘ÂÃÂ²ÃÂµÃ‘â€šÃÂ»ÃÂ¾ÃÂ¹ Ã‘â€šÃÂµÃÂ¼Ã‘â€¹*/
    --gradient-light-modal: linear-gradient(to left, rgba(206, 206, 206, 0.83), #0057ff 100%);;
 z-index: 1;
}


.backfeater {
     z-index: 2;
    background: radial-gradient(circle, #1316678c 0%, #1e1d1d 100%);
    /*background: radial-gradient(circle, rgba(118, 119, 255, 0.55) 0%, #ffffff 100%);*/
    display: grid;
    /*padding-left: 15px;*/
    grid-template-rows: 50px 50px auto 50px auto;
    padding: 20px 10px 15px 15px;
    /*margin-top: 10px;*/
    /*position: relative;*/
    /*z-index: 1;*/

}

body {
    overflow: auto;
}

.submit {
    /* left: 315px; */
    position: relative;
    width: 108px;
    height: 30px;
    top: 10px;
    border-radius: 12px 12px 12px 12px;
    background: #1C9BFF;
    color: #fffaf0;
    border-color: #1C9BFF;
    font: 400 14px / 1.57 Open Sans, Helvetica, Arial, serif;
}

.form-control {
    background: none;
    font: 400 14px/1.57 Open Sans, Helvetica, Arial, serif;
    bottom: 951px;
    left: 45px;
    position: absolute;
    top: 140px;;
    width: 360px;
    height: 47px;
    padding: 14px 20px 14px 21px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    border-radius: 24.4px;
    color: #fff;
    /*background: #cfcfcf66;*/
    outline: none;
}

.form-control1 {
    background: none;
    font: 400 14px/1.57 Open Sans, Helvetica, Arial, serif;
    bottom: 951px;
    left: 45px;
    position: absolute;
    top: 90px;
    width: 360px;
    height: 47px;
    padding: 14px 20px 14px 21px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    border-radius: 24.4px;
    color: #fff;
    /*background: #cfcfcf66;*/
    outline: none;
}

.form-main {
    left: 0px;
    /*background: none;*/
    border-radius: 12px 12px 12px 12px;
    font: 400 14px/1.57 Open Sans, Helvetica, Arial, serif;
    bottom: 951px;
    height: 30px;
    position: relative;
    top: 10px;
    width: 130px;
    /*background-color: rgba(255, 255, 255, 0.76);*/
    border-color: #007bffe3;
    color: #ffffff;

    padding: 10px 10px 10px 10px;
}

.form-row {
    height: 30px;
    width: 35%;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;*/
}

.form-control {
    flex: 1;
    margin-right: 12px;
}

.form-row-text {
    flex: 1;
    display: flex;
    align-items: center;
    color: #7fb5fe;
    font: 400 17px/1.57 Open Sans, Helvetica, Arial, serif;
}

.form-row-text2 {
    flex: 1;
    display: flex;
    align-items: center;
    color: #7fb5fe;
    font: 400 17px/1.57 Open Sans, Helvetica, Arial, serif;

}

.submit {
    /*flex: 1;*/
    margin-left: 12px;
}

.plashki {
    margin-top: 10px;
    padding-right: 20px;
    height: 100%;
    display: grid;
    /*grid-gap: 5px; !* Ãâ€ÃÂ¾ÃÂ±ÃÂ°ÃÂ²ÃÂ¸ÃÂ» ÃÂ¾Ã‘â€šÃ‘ÂÃ‘â€šÃ‘Æ’ÃÂ¿Ã‘â€¹ ÃÂ¼ÃÂµÃÂ¶ÃÂ´Ã‘Æ’ Ã‘ÂÃÂ»ÃÂµÃÂ¼ÃÂµÃÂ½Ã‘â€šÃÂ°ÃÂ¼ÃÂ¸ Ã‘ÂÃÂµÃ‘â€šÃÂºÃÂ¸ *!*/

    /* ÃÂÃÂ´ÃÂ°ÃÂ¿Ã‘â€šÃÂ¸ÃÂ²ÃÂ½ÃÂ°Ã‘Â Ã‘ÂÃÂµÃ‘â€šÃÂºÃÂ° */
    grid-template-columns: repeat(auto-fill, minmax(233px, 0.5fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));
    overflow: scroll;
    max-width: 1650px;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

/* ÃÅ“ÃÂµÃÂ´ÃÂ¸ÃÂ°ÃÂ·ÃÂ°ÃÂ¿Ã‘â‚¬ÃÂ¾Ã‘Â ÃÂ´ÃÂ»Ã‘Â ÃÂ¸ÃÂ·ÃÂ¼ÃÂµÃÂ½ÃÂµÃÂ½ÃÂ¸Ã‘Â ÃÂ¼ÃÂ°ÃÂºÃÂµÃ‘â€šÃÂ° ÃÂ¿Ã‘â‚¬ÃÂ¸ Ã‘Æ’ÃÂ¼ÃÂµÃÂ½Ã‘Å’Ã‘Ë†ÃÂµÃÂ½ÃÂ¸ÃÂ¸ Ã‘Ë†ÃÂ¸Ã‘â‚¬ÃÂ¸ÃÂ½Ã‘â€¹ Ã‘ÂÃÂºÃ‘â‚¬ÃÂ°ÃÂ½ÃÂ° */
@media (max-width: 1200px) {
    .plashki {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(130px, auto));
    }
}

.alert-primary {
    height: 90px;
    border-radius: 12px 12px 12px 12px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    width: 242px;
    color: #fff;
    border-color: rgba(0, 46, 135, 0);
    background: #5f91f53b;
    /*background: #81a0df3b;*/
    /*background: rgba(255, 255, 255, 0.42);*/
    /*background: linear-gradient(90deg, rgb(0, 87, 255) 0%, #696f77ff 100%);*/
    -moz-box-shadow: 11px 14px 10px -7px rgba(0, 87, 255, 0.47);
    /*box-shadow: 11px 14px 10px -7px #0057ff3b;*/
    transition: box-shadow .3s ease;
    position: relative;
    /*backdrop-filter: blur(10px);*/
}

.alert-text-1 {
    font-size: 18px;
    white-space: nowrap;
}

.alert-text-2 {
    margin-top: 2px;
    font-size: 14px;
    white-space: nowrap;
    color: #dddddd;
}

.alert-primary::after {
    content: '';
    position: absolute;
    /*top: -50%;*/
    /*left: -50%;*/
    /*width: 200%;*/
    /*height: 200%;*/
    background: #0057ff3b;
    border-radius: 50%;
    z-index: -1;
    transition: transform .5s ease
}

.alert-primary:hover {
    /*border-image: linear-gradient(to right, #f50aa8, blue) 1;*/
    box-shadow: 11px 14px 10px -7px rgba(173, 173, 173, 0.61)
}

/*.alert-primary:hover::after {*/
/*    transform: rotate(360deg);*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-image: linear-gradient(to right, #ff9966, #ff5e62);*/
/*    z-index: -1;*/



.arrow {
    height: 30px;
    margin-left: auto;
    bottom: 4px;
    position: absolute;
    right: 9px;
    top: 10px;
    width: 29px;
}

.osver {
    bottom: 7px;
    left: 10px;
    /* margin-left: auto; */
    position: absolute;
    font: 400 14px / 1.57 Open Sans, Helvetica, Arial, serif;
    color: cyan;
}


.grid-check {
    margin-top: 10px;
    /*text-align: center;*/
    margin-left: 50px;
    width: 360px;
    height: 100px;
    color: #fff;
    display: grid;
    /*grid-template-columns:repeat(2, minmax(100px, 1fr) 40px);*/
    grid-template-rows:repeat(4, minmax(100px, 1fr) 40px);
    grid-auto-rows: minmax(0, 40px);
    gap: 10px;
    max-height: 150px;
    /*overflow: auto;*/
}


.place-name {
    top: 130px;
    margin-left: 50px;
    width: 360px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 20px 14px 21px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    border-radius: 24.4px;
    color: #fff;
    background: #cfcfcf66;
    outline: none;
    position: absolute;
}


.place-name:hover {
    box-shadow: 11px 14px 10px -7px #0057ffcc;
    border: none;
    outline: none
}

.place-name:hover::after {
    transform: rotate(360deg);
    outline: none
}

.submit1 {
    border-radius: 12px 12px 12px 12px;
    color: #fffaf0;
    font: 400 14px/1.57 Open Sans, Helvetica, Arial, serif;
    /*background: linear-gradient(135deg, #065afc59, #0905ca59, #04369659);*/
    background: rgba(207, 207, 207, 0.32);
    outline: none;
    padding: 5px 10px 5px 10px;
    height: 30px;
    border-color: #714cdf;

}

.submit1:hover {
    /*box-shadow: 1px 14px 10px -7px #edeeef45;*/
    outline: none
}

.submit1:hover::after {
    transform: rotate(360deg);
    outline: none
}

.alert-primary-footer {
    border: none;
    height: 15%;
    bottom: 0; /* ÃÂ ÃÂ°ÃÂ·ÃÂ¼ÃÂµÃ‘â€°ÃÂ°ÃÂµÃÂ¼ footer ÃÂ²ÃÂ½ÃÂ¸ÃÂ·Ã‘Æ’ */
    width: 100%; /* ÃÂ¨ÃÂ¸Ã‘â‚¬ÃÂ¸ÃÂ½ÃÂ° 100% */
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;

}


.alert-primary-nagios {
    border: none;
    height: 15%;
    margin-top: 10px;
    position: absolute;
    right: 10px;


}

.modal-back {
    /*background: rgba(207, 207, 207, 0.32);*/
    border: none;

}

.modal-create {
    /*background: rgba(207, 207, 207, 0.32);*/
    background: rgb(40 89 197);
    border: 0.5px solid rgba(6, 90, 252, 0);
    /*margin-top: 9px;*/

}

.modal-update {
    /* background: rgba(207, 207, 207, 0.32); */
    /* background: rgb(104 116 139); */
    background: rgb(40 89 197);
    margin-left: 15px;
    /* border: 0.5px solid rgb(6, 90, 252); */
}

.modal-remove {
    /*background: rgba(207, 207, 207, 0.32);*/
    left: 20px;

    background: rgb(16 16 16 / 19%);
    border: 0.5px solid rgba(253, 0, 104, 0);

}


.plug {
    color: #ffffff;
    margin-top: 45px;
    margin-left: 20px;
    font-size: 20px;
    align-content: center;
    white-space: nowrap;
}

.loader {
    color: #fff;
    font-size: 5px;
    width: 1em;
    height: 1em;
    top: 190px;
    margin-left: 270px;
    border-radius: 50%;
    position: absolute;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

.dropdown {
    /*font-size: 14px;*/
    position: absolute;
    top: -5px;
    right: 10px;
    overflow: visible;
}

.dots {
    cursor: pointer;
    font-size: 20px;
    color: cyan;

}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background: #061a3e;
    min-width: 130px;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
    overflow: visible;
    align-items: center;
    backdrop-filter: blur(5px);
}

.dropdown-content a {
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    /*align-items: stretch;*/
    /*justify-content: space-between;*/
}

.dropdown-content a:hover {
    background-color: rgba(10, 47, 115, 0.66);
    border-radius: 10px;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:after .dropdown-content {
    display: none;
}

.more {
    width: 16px;
    margin-right: 10px;
}

.alert-primary-footer-nagios {
    position: relative;
    bottom: 2px;
    width: 13px;
}.alert-primary-footer-server {
    position: relative;
    top: -37px;
    width: 32px;
    left: -64px;
    align-content: center;
}


/*ÃÂ°Ã‘â€šÃÂ¾ÃÂ¼-ÃÂ·ÃÂ°ÃÂ³Ã‘â‚¬Ã‘Æ’ÃÂ·ÃÂºÃÂ°*/

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }


    body {
        padding: 0;
        min-height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #181a1b;

    }


    svg {
        display: none;
        width: 14vw;
        max-height: 80vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        /* background-size: cover; */
        /* background-position: center; */
        /*background: radial-gradient(circle at center, rgb(31 30 95 / 39%), transparent);*/
        /* backdrop-filter: blur(10px); */
    }

    .eins {
        transform-origin: 60px 60px;
        transform: rotateZ(60deg);
    }

    .zwei {
        transform-origin: 60px 60px;
        transform: rotateZ(-60deg);
    }

    .all {
        transform-origin: 60px 60px;
        transform: scaleX(.32);
    }

    .group {
        animation: turnIt 1.5s linear infinite;
        transform-origin: 60px 60px;
        transform-box: content-box;
    }

    .go {
    / / transform: translateY(4 px);
    }

    @keyframes turnIt {
        100% {
            transform: rotate(1turn);
        }
    }
.hide{
    width: 30px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #212425;
    border-radius: 12px;

    margin-top: 10px;
}