.backfeater {
    background: var(--sysmon-photo-bg);
}

.theader {
    position: relative;
    left: -18px;
    top: -2px;
    margin-bottom: 20px;
    font: 400 18px/1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
}

.error-message {
    position: fixed;
    white-space: nowrap;
    color: #ff0c79;
    /*font-size: 12px;*/
    font: 400 12px bold Roboto, Helvetica, Arial, serif;
    align-content: center;
    left: 50%;
    transform: translate(-50%, 0);
    top: 82%;
}

/*custom checkbox*/
input[type="checkbox"] {
    top: 3px;
    left: 5px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    /*border: 2px solid #000;*/
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

input[type="checkbox"]:checked {
    /*background: linear-gradient(to right, #f6d365 0%, #fda085 50%, #ff6700 100%);*/
    /*background: radial-gradient(circle, #50bb76 0%, #ffffff 100%);*/
    background: radial-gradient(circle, #0062cc 0%, #ffffff 100%);
    border-color: rgba(255, 255, 255, 0);
}

.check-form {
    align-content: center;
    display: grid;
}

.submit1:hover {
    box-shadow: 1px 14px 10px -7px #edeeef45;
    outline: none
}

.submit1:hover::after {
    transform: rotate(360deg);
    outline: none
}

.form-control {

    background: none;
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    bottom: 951px;
    left: 45px;
    width: 360px;
    height: 47px;
    padding: 14px 20px 14px 21px;
    box-sizing: border-box;
    border: 0.5px solid #fff;
    border-radius: 24px;
    color: #fff;
    background: #09204e2b;
    outline: none;
}


.form-ip {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    margin-bottom: 10px;

}

.form-control[readonly] {
    background-color: rgba(123, 69, 154, 0);
    opacity: 1;
}

.form-ip input:hover {
    background-color: transparent;
}

.form-ip label {
    margin-right: 70px;
    margin-bottom: 10px;
    white-space: nowrap;

    font-size: 16px;
    color: #cce5ff;
}

.form-ip input {
    width: 230px;
    margin-right: 165px;
    margin-bottom: 10px;
}

.refresh {
    position: relative;
    /*top: -65px;*/
    /*margin-left: 254px;*/
    width: 40px;
    height: 40px;
    display: inline;
}

.text1 {
    position: relative;
    top: 371px;
    /* left: 45%; */
    font: 400 16px/1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
}

.text2 {
    width: 80%;
    position: relative;
    top: 278px;
    font: 400 16px / 1.57 Roboto, Helvetica, Arial, serif;
    color: #cce5ff;
    left: 43px;
    /* margin-top: 10px; */
    margin-bottom: 1em;
    text-indent: 1em;
    /* padding-top: 1em; */
    /* padding-bottom: 1em; */
}


.field-label {
    display: flex;
    align-items: center;
}

.grid {
    color: #ffffff;
    height: auto;
    overflow: hidden;
    margin-top: 380px;
    display: grid;
    grid-template-columns:repeat(2, minmax(1px, 230px));
    grid-template-rows:repeat(3, minmax(30px, auto));
    justify-items: start;
    margin-left: 70px;
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
}

.add {
    margin-left: 10px;
    margin-top: 10px;
}


.submit {

    left: 315px;
    position: absolute;
    width: 115px;
    height: 30px;
    top: 10px;
    border-radius: 12px 12px 12px 12px;
    background: #1C9BFF;
    color: #fffaf0;
    border-color: #1C9BFF;
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif
}

.footer {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;

}

.modal-back {
    margin-right: 110px;
    opacity: 1;
    width: 115px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    background: rgb(104 116 139);
    color: #fffaf0;
    border-color: rgba(104, 116, 139, 0);
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif
}

.modal-add {
    opacity: 1;
    width: 115px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    /* background: rgb(0, 32, 255); */
    background: rgb(40 89 197);
    color: #fffaf0;
    border-color: rgba(104, 116, 139, 0);
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
}

.modal-check {
    opacity: 1;
    width: 115px;
    height: 30px;
    border-radius: 12px 12px 12px 12px;
    position: relative;
    /* background: rgb(0, 32, 255); */
    background: rgb(40 89 197);
    color: #fffaf0;
    border-color: rgba(104, 116, 139, 0);
    font: 400 14px/1.57 Roboto, Helvetica, Arial, serif;
    left: -18px;
}


.modal {
    height: 666px;
    width: 450px;
    display: grid;
    color: #fffaf0;
    /*backdrop-filter: blur(48px);*/
    /* background: var(--gradient-dark-modal); */
    /* background: rgba(43, 43, 43, 0.42); */
    background: rgb(1 47 161 / 17%);
    border-radius: 70px 70px 70px 70px;
    max-width: 100%;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    align-content: stretch /*border: 0.5px solid #fff;*/ /*border: 0.5px solid #FFF*/;
}

.header {
    margin-top: 30px;
    margin-left: 92px;
    margin-bottom: 30px;
    height: 30px;
    width: 300px;
    position: fixed;
    font: 400 29px Raleway, Helvetica, Arial, serif;
}

.modal-back {
    position: fixed;
    bottom: 30px;
    left: 60px;
}

.modal-add {
    position: absolute;
    bottom: 30px;
    right: 60px;
}

/*a {*/
/*    pointer-events: none;*/
/*}*/

/*a button {*/
/*    pointer-events: auto;*/
/*}*/

.submit1:hover {

    box-shadow: 1px 14px 10px -7px #edeeef45;
    outline: none;
    transform: translateZ(2px) scale(1.05);
}

.submit1:hover::after {
    transform: translateZ(2px) scale(1.05);
    outline: none
}

.osver {
    top: 10px;
    right: 10px;
    margin-left: auto;
    bottom: 4px;
    position: absolute;
    font: 400 10px/1.57 Roboto, Helvetica, Arial, serif;
    color: #808080;
}

.form-ip input:focus {
    background-color: #f5f5f5;
}
/* loader*/
.loader {
    color: #fff;
    font-size: 5px;
    width: 1em;
    height: 1em;
    top: 190px;
    margin-left: 270px;
    border-radius: 50%;
    position: absolute;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em,
        2em -2em 0 0em, 3em 0 0 -1em,
        2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em,
        2em -2em 0 0, 3em 0 0 0.2em,
        2em 2em 0 0, 0 3em 0 -1em,
        -2em 2em 0 -1em, -3em 0 0 -1em,
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
 .arrow-check {
            position: absolute;
            margin-top: 259px;
            left: 340px;
        }

        .result-text {
            position: absolute;
            margin-top: 10px;
            margin-left: 10px;
            font: 400 16px/1.57 Roboto, Helvetica, Arial, serif;
            color: #ff0c79;
            margin-bottom: 10px;
            margin-right: 10px;
        }

        .alert-box {
            background-color: #333;
            color: #fff;
            padding: 10px;
            margin: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
        }

        .check-snmp-text {
            position: absolute;
            margin-top: 342px;
            left: 50%;
            transform: translate(-50%, -20%);
            font: 400 16px/1.57 Roboto, Helvetica, Arial, serif;
            color: #cce5ff;
            white-space: pre-line;
        }

        .hidden {
            display: none;
        }
