body {
    font-family: Arial, sans-serif;
}

.tree {
    list-style-type: none;
    padding-left: 20px;
}

.tree-item {
    margin: 5px 0;
}

.tree-item::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #007BFF;
}

.backfeater {
    background: var(--sysmon-photo-bg);
}

#map {
    width: 100%;
    height: 100vh; /* Set the map height to full screen */
}

/*}*/
.custom-marker {
    background: transparent; /* Transparent container background */
    border: none; /* Remove the border */
    box-shadow: none; /* Remove the default shadow */
    position: relative;
}

.marker-icon {
    width: 40px;
    height: 41px;
    background-size: cover; /* Make the icon image fully fill the element */
    position: relative;
    z-index: 2; /* The icon must be above the shadow */
}

.marker-shadow {
    width: 41px;
    height: 41px;
    background-color: #14FF47FF; /* Default shadow color */
    border-radius: 50%; /* Round shadow */
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); /* Center the shadow */
    filter: blur(5px); /* Blur for the shadow effect */
    z-index: 1; /* The shadow must be below the icon */
    opacity: 0.5; /* Shadow opacity */
}
    .close {
        color: #aaa;
        float: right;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
    }

    /* Form styles */

    #line-settings {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-group input {
        padding: 8px;
        /*border: 1px solid #ccc;*/
        border-radius: 4px;
        font-size: 14px;
    }

    .modal {
        padding: 47px;
        display: flex;
        width: 300px;
        background: rgba(61, 62, 63, 0.76);
        backdrop-filter: blur(10px); /* Background blur */
        border: 1px solid rgba(255, 255, 255, 0.18); /* Light border for the glass effect */
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Depth shadow */
    }

    .save {
        left: 164px;
            bottom: 30px;

    }

    .back {
        left: 23px;
        background: rgb(104 116 139);
        bottom: 30px;


    }
        .pin_host {
        left: 55px;
        top: 10px;
        position: absolute; /* or fixed, depending on the task */
        z-index: 9999; /* Set a high value so the element is above everything */
    }

    .route {
        left: 190px;
        top: 10px;
        position: absolute; /* or fixed, depending on the task */
        z-index: 9999; /* Set a high value so the element is above everything */
    }