.hostname {
    top: 90px;
}
.form-ip label {
    display: none;
}

.text1 {
    font: 400 16px Raleway, Helvetica, Arial, serif;
    color: #ffffff;
    top: 160px;
    position: absolute;
    margin-left: 50px;
    margin-bottom: 50px;
}
.modal-container {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    background-color: #0000004d;
    height: 100vh;
    width: 100vw;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1
}

.modal {
    height: 600px;
    width: 450px;
    display: grid;
    color: #fffaf0;
    backdrop-filter: blur(48px);
    /*background: var(--gradient-dark-modal);*/
    /*background: rgba(43, 43, 43, 0.42);*/
    background: rgb(1 47 161 / 17%);
    border-radius: 70px 70px 70px 70px;
    max-width: 100%;
    text-align: center;
    opacity: 1;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: stretch
    /*border: 0.5px solid #fff;*/
    /*border: 0.5px solid #FFF*/
}
.header1 {
    margin-top: 40px;
    margin-left: 70px;
    height: 30px;
    width: 300px;
    position: fixed;
    font: 400 29px Raleway, Helvetica, Arial, serif;
}
.cross {
    margin-top: 43px;
    margin-left: 380px;
    height: 12px;
    width: 12px;
}
.modal-footer{
    border: none;
    height: 15%;
    position: fixed; /* Фиксированное позиционирование */
    bottom: 0; /* Размещаем footer внизу */
    width: 100%; /* Ширина 100% */
    display: flex;
    justify-content: space-between; /* Распределить элементы внутри footer по краям */
    padding: 10px 60px 0px 60px;
    align-items: center; /* Выравнивание элементов по вертикали */
}

.grid {
    height: auto;
    overflow: hidden;
    padding-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns:repeat(2, minmax(1px, 250px));
    grid-template-rows:repeat(3, minmax(30px, auto));
    justify-content: flex-start;

}
/*.grid-check {*/
/*    margin-top: 10px;*/
/*    !*text-align: center;*!*/
/*    margin-left: 50px;*/
/*    width: 360px;*/
/*    height: 100px;*/
/*    color: #fff;*/
/*    display: grid;*/
/*    !*grid-template-columns:repeat(2, minmax(100px, 1fr) 40px);*!*/
/*    grid-template-rows:repeat(4, minmax(100px, 1fr) 40px);*/
/*    grid-auto-rows: minmax(0,40px);*/
/*    gap: 10px;*/
/*    max-height: 150px;*/
/*    !*overflow: auto;*!*/
/*}*/