{% extends 'front/layout.html' %}
{% load static %}
{% block title%}Scan{% endblock %}

{% block content %}
<style>
    .big-text {
        top: auto;
        font-size: 50px;
        white-space: nowrap;
        margin-left: 483px;
        color: #7fb5fe;


    }

    .wing {
        transform: rotate(45deg);
        top: 10px;
        left: 10px;

    }
    .backfeater{
        background: radial-gradient(circle, #1316678c 0%, #1e1d1d 100%);
    }

</style>
<script src="{% static 'front/js/create.js' %}"></script>
<div class="untitled-page root">
    <div class="backfeater">
        <div class="plashki">
            <p class="big-text">Cтраница в разработке</p>
        </div>
    </div>
</div>

{% endblock %}
